<div class="col card-wrap">
    <div class="card" id="scene-panel-card-{{id}}" data-type="{{type}}">
        <div class="card-image">
            <canvas class="obj-preview"></canvas>
            <span class="card-title" contenteditable>{{name}}</span>
        </div>
        <div class="card-content">
            <i class="fa fa-eye toggle-vis" data-position="top" data-delay="50" data-tooltip="Switch Invisible"></i>
            <i class="fa fa-globe toggle-grav" data-position="top" data-delay="50" data-tooltip="Switch Gravity"></i>
            <i class="fa fa-tag rename" data-position="top" data-delay="50" data-tooltip="Rename"></i>
        </div>
    </div>
</div>