body {
    width: 100vw;
    height: 100vh;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* General */
}

#right-view,
#left-view,
body > .gutter {
    display: inline-block;
    height: 100%;
    width: 100%;
    float: left;
}

.gutter {
    background: grey;
}

.gutter.gutter-horizontal {
    cursor: e-resize;
}

.gutter.gutter-vertical {
    cursor: n-resize;
}

#right-view {
    overflow-y: auto;
}

#right-view > div {
    min-height: 100vh;
}

#right-view > div > .row{
    min-height: calc(100vh - 49px);
    margin-bottom: 0;
}

#left-view-bottom .card-content {
    padding: 0.5rem;
    padding-top: calc(0.5rem - 6px);
}

#left-view-bottom .row > div .active > div > div {
    background: lightblue;
}

.obj-preview {
    width: 100%;
}

#left-view-bottom {
    overflow-y: auto;
}

.card-content > i {
    cursor: pointer;
    padding: 0 0.2em;
}
.card-content > i:hover {
    color: gray;
}

.card[data-type="env"] .toggle-grav{
    display: none;
}

.card-title {
    padding: 0!important;
    left: 24px!important;
    bottom: 24px!important;
    cursor: text;
}

.card-image {
    cursor: pointer;
}

.card-wrap{
    min-width: 13rem;
    max-width: 25rem;
    width: 33.3333333%;
}

/* make materialize and blockly get along */
.blocklyHtmlInput {
    background-color: white!important;
    border: none!important;
    border-radius: 4px!important;
    font-family: sans-serif!important;
    height: 100%!important;
    margin: 0!important;
    outline: none!important;
    padding: 0 1px!important;
    width: 100%!important;
}

.blocklyDropdownMenu {
    -webkit-box-sizing: initial!important;
    box-sizing: initial!important;
}

.blocklyWidgetDiv .goog-palette-table {
    width: initial;
}

.blocklyWidgetDiv .goog-palette-cell {
    padding: 0;
}

.a-canvas {
    z-index: 10000;
}

.a-enter-vr {
    z-index: 10001;
}

.tabs.scene-tabs .tab {
    float: left;
}

.tab.save-load,
.tab.start-stop {
    float: right!important;
}

.save-load,
.start-stop {
    cursor: pointer!important;
}

.save-load:hover {
    color: grey;
}

.save-load .fa,
.start-stop .fa {
    padding: 0 12px;
}

.start-stop.stop {
    color: darkred;
    fill: darkred;
}

.start-stop.stop:hover {
    color: red;
    fill: red;
}

.start-stop.start {
    color: green;
    fill: green;
}

.start-stop.start:hover {
    color: lightgreen;
    fill: lightgreen;
}

svg text.blocklyText {
   font-family: FontAwesome, sans-serif;
}